<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blog Ninja | <%= title %></title>
  <!-- Cannot link stylesheets (without static middleware) -->
  <!-- returns 404 error as they aren't publicly available -->
  <link rel="stylesheet" href="/styles.css" />
  <!-- with Express static middleware, we don't need to specify the folder '/public/' as we already did so in App.js -->
</head>
